<!DOCTYPE HTML>
<head>
<title> OctoBot </title>
</head>

<body>

<h1> Welcome to OctoBot! </h1>

<div>
<h2> Login </h2>
<h3> Warning: Do not use sensitive data here! Traffic is not encrypted! </h3>
<form action="/" method="post">
  Username:<br>
  <input type="text" name="username"><br><br>
  Password:<br>
  <input type="text" name="password"><br>
  <input type="submit" value="Submit">
</form>
</body>
