<!DOCTYPE HTML>
<head>
<title> Raid Info </title>
</head>

<body>
<h1> {{name}} </h1>
Raid: {{raid}}<br>
Raiders: {{#raiders}}
<form action="/raider/{{name}}" method="get">
    <input type="submit" value={{name}}>
</form> 
{{/raiders}}
</body>