<!DOCTYPE HTML>
<head>
<title> Raid Registration </title>
</head>

<body>

<h1> Raid Registration </h1>
<div>
<h3> Enter information here to register a raid </h3>
<form action="/registerraid" method="post">
  Name(used for identification):<br>
  <input type="text" name="name"><br><br>
  Raid(name of raid instance):<br>
  <input type="text" name="raid"><br>
  <input type="submit" value="Submit">
</form>
</body>