<!DOCTYPE HTML>
<head>
<title> User Registration </title>
</head>

<body>

<h1> Raider Registration </h1>

<div>
<h3> Enter information here to register a user </h3>
<form action="/registerraider" method="post">
  Discord Username:<br>
  <input type="text" name="discorduser"><br><br>
  Wow Username:<br>
  <input type="text" name="name"><br>
  Real Name:<br>
  <input type="text" name="realname"><br>
  Realm:<br>
  <input type="text" name="realm"><br>
  Faction:<br>
  <input type="radio" name="faction" value="alliance"> Alliance
  <input type="radio" name="faction" value="horde"> Horde <br>
  Race:<br>
  <select name="race">
    <option value="blood_elf">Blood Elf</option>
    <option value="orc">Orc</option>
    <option value="night_elf">Night Elf</option>
    <option value="pandaren">Pandaren</option>
    <option value="goblin">Goblin</option>
    <option value="worgen">Worgen</option>
    <option value="draenei">Draenei</option>
    <option value="dwarf">Dwarf</option>
    <option value="human">Human</option>
    <option value="gnome">Gnome</option>
    <option value="tauren">Tauren</option>
    <option value="troll">Troll</option>
    <option value="undead">Undead</option>
  </select><br>
  Class:<br>
  <select name="class">
    <option value="warrior">Warrior</option>
    <option value="paladin">Paladin</option>
    <option value="hunter">Hunter</option>
    <option value="rogue">Rogue</option>
    <option value="priest">Priest</option>
    <option value="death_knight">Death Knight</option>
    <option value="shaman">Shaman</option>
    <option value="mage">Mage</option>
    <option value="warlock">Warlock</option>
    <option value="monk">Monk</option>
    <option value="demon_hunter">Demon Hunter</option>
    <option value="druid">Druid</option>
  </select><br>
  Role:<br>
  <input type="radio" name="role" value="dps"> DPS
  <input type="radio" name="role" value="tank"> Tank
  <input type="radio" name="role" value="healer"> Healer<br>
  Profession 1:<br>
  <select name="profession1">
    <option value="engineering">Engineering</option>
    <option value="tailoring">Tailoring</option>
    <option value="alchemy">Alchemy</option>
    <option value="blacksmithing">Blacksmithing</option>
    <option value="enchanting">Enchanting</option>
    <option value="herbalism">Herbalism</option>
    <option value="inscription">Inscription</option>
    <option value="jewelcrafting">Jewelcrafting</option>
    <option value="leatherworking">Leatherworking</option>
    <option value="mining">Mining</option>
    <option value="none">None</option>
  </select><br>
  Profession 2:<br>
  <select name="profession2">
    <option value="engineering">Engineering</option>
    <option value="tailoring">Tailoring</option>
    <option value="alchemy">Alchemy</option>
    <option value="blacksmithing">Blacksmithing</option>
    <option value="enchanting">Enchanting</option>
    <option value="herbalism">Herbalism</option>
    <option value="inscription">Inscription</option>
    <option value="jewelcrafting">Jewelcrafting</option>
    <option value="leatherworking">Leatherworking</option>
    <option value="mining">Mining</option>
    <option value="none">None</option>
  </select><br>
  <input type="submit" value="Submit">
</form>
</body>
