<!DOCTYPE HTML>
<head>
<title> User Info </title>
</head>

<body>
<h1> {{name}} </h1>
Discord Username: {{discorduser}}<br>
Real Name: {{realname}}<br>
Realm: {{realm}}<br>
Faction: {{faction}}<br>
Race: {{race}}<br>
Class: {{class}}<br>
Role: {{role}}<br>
Profession #1: {{profession1}}<br>
Profession #2: {{profession2}}<br>
</body>